<div class="appointments-container">
  <h2>Your Appointments</h2>

  <div *ngIf="appointments$ | async as appointments; else noAppointments">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>#</th> 
          <th>Patient Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ appointment.patientName }}</td>
          <td>{{ appointment.date | date: 'fullDate' }}</td>
          <td>{{ appointment.date | date: 'shortTime' }}</td>
          <td>{{ appointment.status || 'Pending' }}</td>
          <td class="text-center">
            <div class="btn-group btn-group-sm " role="group">
            <button class="btn btn-success btn-sm" (click)="updateStatus(appointment.id, 'confirmed')">Confirm <i class="fa-solid fa-check"></i></button>
            <button class="btn btn-danger btn-sm" (click)="updateStatus(appointment.id, 'cancelled')">Cancel <i class="fa-solid fa-xmark"></i></button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noAppointments>
    <p>No appointments found.</p>
  </ng-template>
</div>
