<footer class="footer bg-primary ">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-2 col-md-6 my-5 ">
          <img src="whitelogowithdotcom.png" alt class="img-fluid mb-3" />
          <ul >
            <li>
              <a to="/about" class="">About US</a>
            </li>
            <li>
              <a class=""  href>Our Team</a>
            </li>
            <li>
              <a class="" href>Careers</a>
            </li>
            <li>
              <a class="" href>Press</a>
            </li>
          </ul>
        </div>
        
        <div class="col-lg-2 col-md-6 my-5 ">
          <ul>
            <li>
              <h6>Are You A Doctor</h6>
            </li>
            <li>
              <a class="" href>Join Vezzeta Doctors</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 my-5">
          <ul>
            <li>
              <h6>Need Help</h6>
            </li>
            <li>
              <a class="" href>Medical Library</a>
            </li>
            <li>
              <a class="" href>Contact Us</a>
            </li>
            <li>
              <a class="" href>Terms of Use</a>
            </li>
            <li>
              <a class="" href>Privacy Policy</a>
            </li>
            <li>
              <a class="" href>Doctors Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 my-5 icons">
          <ul class="d-flex flex-column gap-3 align-items-center">
            <a class="" href>
              <li>
                <img src="google-play-badge.png" alt class="img-fluid my-3" />
              </li>
            </a>
            <a class="" href>
              <li>
                <img src="app-store-badge.png" alt class="img-fluid my-3" />
              </li>
            </a>
            <li class ="d-flex gap-2">
              <a class="" href>
                <i class="fa-brands fa-facebook-f" style="color: white; font-size: 25px"></i>
                <!-- <FaFacebookF  style={{color:"white",fontSize:"25px"}}/> -->

              </a>
              <a class="" href>
                <i class="fa-brands fa-instagram" style="color: white; font-size: 25px"></i>
                <!-- <IoLogoInstagram  style={{color:"white",fontSize:"25px"}}/> -->
              </a>
              <a class="" href>
                <i class="fa-brands fa-twitter" style="color: white; font-size: 25px"></i>
              <!-- <FaTwitter  style={{color:"white",fontSize:"25px"}}/> -->

              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>