<h2>Doctors</h2>
<div *ngIf="doctors.length; else noDoctors">
  <div class="row">
    <div *ngFor="let user of doctors" class="col-lg-6 mb-4">
      <div class="user p-3 border rounded shadow-sm text-center">
        <ng-container *ngIf="editingDoctor?.id === user.id; else doctorDetails">
          <!-- Inline Edit Form for Doctor -->
          <form (ngSubmit)="saveDoctor()" class="edit-form">
            <label>
              Name:
              <input [(ngModel)]="editingDoctor.name" name="name" required class="form-control"/>
            </label>
            <label>
              Cost:
              <input [(ngModel)]="editingDoctor.Cost" name="Cost" type="number" class="form-control"/>
            </label>
            <label>
              Phone:
              <input [(ngModel)]="editingDoctor.phone" name="phone" class="form-control"/>
            </label>
            <label>
              Clinic Location:
              <input [(ngModel)]="editingDoctor.clinicLocation" name="clinicLocation" class="form-control"/>
            </label>
            <label>
              Specialization:
              <input [(ngModel)]="editingDoctor.specialization" name="specialization" class="form-control"/>
            </label>
            <button type="submit" class="btn btn-success">Save <i class="fa-solid fa-square-check text-white p-1"></i></button>
            <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel <i class="fa-solid fa-delete-left text-white p-2"></i></button>
          </form>
        </ng-container>

        <ng-template #doctorDetails>
          <!-- Doctor Details View -->
          <img src="{{user.imageUrl}}" class="img-fluid mx-auto" style="width: 100px; height: 100px; border-radius: 50%;">
          <p><i class="fa-solid fa-user"></i> Doctor: {{ user.name }}</p>
          <p><i class="fa-solid fa-envelope"></i> Email: {{ user.email }}</p>
          <p><i class="fa-solid fa-money-bill"></i> Cost: {{ user.Cost }}</p>
          <p>
            <i class="fa-solid fa-mars" *ngIf="user.gender == 'Male'"></i>
            <i class="fa-solid fa-venus" *ngIf="user.gender == 'Female'"></i>
            Gender: {{ user.gender }}
          </p>
          <p><i class="fa-solid fa-phone"></i> Phone: {{ user.phone }}</p>
          <p><i class="fa-solid fa-location-dot"></i> Clinic location: {{ user.clinicLocation }}</p>
          <p><i class="fa-solid fa-stethoscope"></i> Specialization: {{ user.specialization }}</p>
          <p><i class="fa-solid fa-certificate"></i> Certification: {{ user.qualifications }}</p>
          <div class="icons">
            <i class="fa-solid fa-pen-to-square" (click)="editDoctor(user)"></i>
            <i class="fa-solid fa-trash" (click)="deleteDoctor(user.id)"></i>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #noDoctors>
  <p>No doctors found.</p>
</ng-template>
