<div *ngIf="users.length; else noUsers">
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-6 mb-4">
      <div class="container user-card p-3 border rounded shadow-sm">
        <p><i class="fa-solid fa-user"></i> Username: {{ user.name }}</p>
        <p><i class="fa-solid fa-envelope"></i> Email: {{ user.email }}</p>
        <p><i class="fa-solid fa-calendar-days"></i> Birthdate: {{ user.birthDate }}</p>
        <p>
          <i class="fa-solid fa-mars" *ngIf="user.gender == 'Male'"></i>
          <i class="fa-solid fa-venus" *ngIf="user.gender == 'Female'"></i>
          Gender: {{ user.gender }}
        </p>
        <p><i class="fa-solid fa-phone"></i> Phone: {{ user.phone }}</p>
        <div class="icons">
          <i class="fa-solid fa-pen-to-square" (click)="editUser(user)"></i>
          <i class="fa-solid fa-trash" (click)="deleteUser(user.id)"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noUsers>
  <p>No users found.</p>
</ng-template>

<!-- Edit User Form -->
<div *ngIf="editingUser" class="edit-container">
  <h3 class="text-center pt-2">Edit User</h3>
  <form (ngSubmit)="saveUser()" class="edit-form">
    <label>
      Name:
      <input [(ngModel)]="editingUser.name" name="name" required class="form-control"/>
    </label>
    <label>
      Birthdate:
      <input [(ngModel)]="editingUser.birthDate" name="birthDate" type="date" class="form-control"/>
    </label>
    <label>
      Gender:
      <select [(ngModel)]="editingUser.gender" name="gender" class="form-control">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </label>
    <label>
      Phone:
      <input [(ngModel)]="editingUser.phone" name="phone" class="form-control"/>
    </label>
    <button type="submit" class="btn btn-success">Save <i class="fa-solid fa-square-check text-white p-1"></i></button>
    <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel <i class="fa-solid fa-delete-left text-white p-2"></i></button>
  </form>
</div>
