.user{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}
ul{
    list-style-type: none;
}
i{
    font-size: 16px;
    color:#19194a;
}
.icons{
    display: flex;
    justify-content: end;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
    
}
.edit-container{
    display: flex;
    flex-direction: column;
    box-shadow: #3f5efb 0 0 5px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.edit-container i{
    cursor: pointer;
}
.edit-container i:hover{
    color: #3f5efb;
}
.edit-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}
p>i{
    font-size: 20px;
}
.icons>i{
    font-size: 20px;
}
.icons>.fa-pen-to-square:hover{
    color: green;
}
.icons>.fa-trash:hover{
    color: red;
}
.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .custom-tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
  }
  .custom-tooltip>.fa-trash:hover{
    color: red;
}
.custom-tooltip>fa-trash{
    font-size: 20px;
    font-weight: bold;
}