<div class="window">
  <header class="window-header">
    <nav class="navigation">
      <div class="navigation-top">
        <a href="#" class="navigation-item active">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 9.5L12 4L21 9.5"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M19 13V19.4C19 19.7314 18.7314 20 18.4 20H5.6C5.26863 20 5 19.7314 5 19.4V13"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="navigation-item-title">Dashboard</span>
        </a>
      </div>

      <div class="navigation-bottom">
        <a href="#" class="navigation-item">
          <img src="favicon-48x48.png" class="avatar" />
          <span class="navigation-item-title">Your Profile</span>
        </a>
      </div>
    </nav>
  </header>
  <div class="window-panel">
    <img src="whitelogowithdotcom.png" alt="" />
    <ul class="tree">
      <!-- add condition to render based on current user role  -->

      <li class="tree-branch" (click)="selectTab('Users')" *ngIf="isAdmin()">
        <div class="tree-branch-action">
          <a
            href="#"
            class="tree-branch-link"
            (click)="$event.preventDefault()"
            [ngClass]="{ active: activeTab === 'Users' }"
            >Users</a
          >
          <button class="tree-branch-button">
            <i class="fa-solid fa-users"></i>
          </button>
        </div>
      </li>
      <li class="tree-branch" (click)="selectTab('Doctors')" *ngIf="isAdmin()">
        <div class="tree-branch-action">
          <a
            href="#"
            class="tree-branch-link"
            [ngClass]="{ active: activeTab === 'Doctors' }"
            (click)="$event.preventDefault()"
            >Doctors</a
          >
          <button class="tree-branch-button">
            <i class="fa-solid fa-user-doctor"></i>
          </button>
        </div>
      </li>
      <li class="tree-branch" (click)="selectTab('Appointments')" *ngIf="isAdmin()">
        <div class="tree-branch-action">
          <a
            href="#"
            class="tree-branch-link"
            [ngClass]="{ active: activeTab === 'Appointments' }"
            (click)="$event.preventDefault()"
            >Appointments</a
          >
          <button class="tree-branch-button">
            <i class="fa-solid fa-calendar-check"></i>
          </button>
        </div>
      </li>
      <li class="tree-branch" (click)="selectTab('Total Revenue')" *ngIf="isAdmin()">
        <div class="tree-branch-action">
          <a
            href="#"
            class="tree-branch-link"
            [ngClass]="{ active: activeTab === 'Total Revenue' }"
            (click)="$event.preventDefault()"
            >Total Revenue</a
          >
          <button class="tree-branch-button">
            <i class="fa-solid fa-dollar-sign"></i>
          </button>
        </div>
      </li>
      <li class="tree-branch" (click)="selectTab('Manage Profile')" *ngIf="isDoctor()">
        <div class="tree-branch-action">
          <a
            href="#"
            class="tree-branch-link"
            [ngClass]="{ active: activeTab === 'Manage Profile' }"
            (click)="$event.preventDefault()"
            >Manage Profile</a
          >
          <button class="tree-branch-button">
            <i class="fa-solid fa-user"></i>
          </button>
        </div>
      </li>
      <li class="tree-branch" (click)="selectTab('Your Appointments')" *ngIf="isDoctor()">
        <div class="tree-branch-action">
          <a
            href="#"
            class="tree-branch-link"
            [ngClass]="{ active: activeTab === 'Your Appointments' }"
            (click)="$event.preventDefault()"
            >Your Appointments</a
          >
          <button class="tree-branch-button">
            <i class="fa-solid fa-calendar-check"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <main class="window-main">
    <div class="window-main-body">
      <div class="editor-textarea">
        <div
          class="editor-textarea-editable"
          contenteditable
          spellcheck="false"
        >
          <ng-container *ngIf="activeTab === 'Users'">
            <app-users-screen></app-users-screen>
          </ng-container>
          <ng-container *ngIf="activeTab === 'Doctors'">
            <app-doctors-screen></app-doctors-screen>
          </ng-container>
          <ng-container *ngIf="activeTab === 'Manage Profile'">
            <app-doctor-profile></app-doctor-profile>
          </ng-container>
          <ng-container *ngIf="activeTab === 'Appointments'">
            <app-appointments></app-appointments>
          </ng-container>
          <ng-container *ngIf="activeTab === 'Your Appointments'">
            <app-doctor-appointments></app-doctor-appointments>
          </ng-container>

          <!-- <h1>What web designers can learn from artists - from Van Gogh to Lloyd Wright</h1>
						<p class="leading">Art in it's classic form, like painting and sculpting, is not
							that different to the creations of web and UI designers. Even though their
							purpose is different - as the goal of great web design is to enhance user
							experiences - there's still a lot to learn from the former.</p>
						<p>By now you may have been intruiged to read this article, but I'm sorry to inform
							you that this is not some 'Medium-like-inspirational-design-take-kind-of-story'.
							This is just an article full of gibberish, written in a way that makes it look
							<img src="https://assets.codepen.io/285131/painting.jpg" />like a real article, but it's not. It's sole
							purpose is to look good in this
							CodePen demo, this CMS design concept. The image has also nothing to do with the
							accompanied text, it's just a filler like everything else. You see, I feel it's
							sometimes better to use 'real' text rather than 'Lorem Ipsum'. However, this
							text is not <em>real</em>. Well, of course it's <strong>real</strong>, since
							someone has written it (me), but it's not a real blog post.
						</p>
						<p>For designers it's important, or even necessary to, use real data instead of
							'Lorem ipsum'. Sure, the latin excerpt is popular, but the problem is that you
							don't understand what it says there. This is not just a problem for articles,
							but for UI in general. How do you think the site structure on the left would
							look like if I replaced 'Product' and 'Pricing' with 'Lorem Ipsum' and 'Dolor
							Sit'? Doesn't give you the right impression, does it? And I know what you're
							thinking: 'Product' and 'Pricing' isn't real data either, it's just made up
							names of pages. That's true - but it's still better than the alternative. Also,
							after all, this is just a pen, and this design is just a concept. But it looks
							legit, right?</p>
						<h2>Why 'Form Follows Function' is a valid rule to live by in web design</h2>
						<p>Use text that your client provides. Give your UI good labels, labels that are actually going to be used in production. There's several reasons as to why it's better to use real data instead of 'Lorem Ipsum':
						</p>

						<ul>
							<li>It's more readable (obviously)</li>
							<li>You stress test your designs, meaning that you'll become more aware of errors caused by line-breaks and text overflow.</li>
							<li>It's more fun and rewarding, since you've designed something that looks <em>real</em></li>
						</ul>
						<p>
							Don't read to much into this, though. This article was never meant to convince you to stop using 'Lorem Ipsum', this is in fact just an article full of gibberish.</p>

						<h2>More filler content</h2>
						<p>I could've easily written about how you make potato salad without potatoes, or written a fairytale about potato salad princes and potato salad princesses, instead.
						</p>

						<p>I did not. At least I saved the potato salad part of this article to a section further down, so far down that you'll perhaps have to scroll to read it (depending on your screen size), hopefully saving you from thinking "Why does he mention potato salad in an article about web design?" before you've taken a look at the CMS design concept. Which again is the whole purpose of this pen.</p>
						<p>If you liked this pen I suggest you should check out <a href="https://codepen.io/havardob" contenteditable="false" target="_blank">some of my other pens</a>.</p> -->
        </div>
      </div>

      <div class="window-main-body-right"></div>
    </div>
  </main>
</div>
